<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InputReader</title>
    <style>
        body{
            background-color: rgb(135, 202, 195);
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form{
            width: 30vw;
            height: 30vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid red;
            background-color: #fff;
            flex-direction: column;
        }
        input{
            font-size: large;
            font-weight: bold;
        }


    </style>
</head>
<body>
    
<div class="main">

<form action="/values" method="post">
    <input type="text" name="text1" placeholder="Enter the field">
    <button type="submit">Submit</button>
</form>
        
</div>

    
</body>
</html>